*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}

/* CARD */
.card{
    display: flex;
    background-color: white;
    border-radius: 15px;
    justify-content: flex-end;
    width: 60%;
    height: 58%;
}

/* IMAGES */
/* .images{

} */
.images img{
    position: absolute;
}
.images img:nth-child(1){
    width: 840px;
    height: 100vh;
    right: 55%;
    bottom: 70px;
}
.images img:nth-child(2){
    z-index: 1;
    width: 150px;
    top: 46%;
    right: 75.5%;
}
.images img:nth-child(3){
    width: 500px;
    right: 55%;
    top: 28%;
}

/* TEXT */
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 90px 70px 0;
    width: 50%;
}

h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.questions{
    display: flex;
    justify-content: space-between;
}

.answers{
    display: none;
}

/* ARROW */
.arrow{
    width: 15px;
    height: 12px;
    align-self: center;
    margin-right: 20px;
}

/* JSCRIPT */
.team-answer.active{
    display: block;
    transition: ease 0.4s;
}
.file-answer.active{
    display: block;
    transition: ease 0.4s;
}
.pass-answer.active{
    display: block;
    transition: ease 0.4s;
}
.sub-answer.active{
    display: block;
    transition: ease 0.4s;
}
.additional-answer.active{
    display: block;
    transition: ease 0.4s;
}

.team-question.active{
    font-weight: bold;
}
.file-question.active{
    font-weight: bold;
}
.pass-question.active{
    font-weight: bold;
}
.sub-question.active{
    font-weight: bold;
}
.additional-question.active{
    font-weight: bold;
}